server/.idea/
server/target/classes/
server/*.iml
node_modules
npm-debug.log
server/target/
server/build/
.gradle/
gradle/
jspm_packages
**/*.bak
/.project
/*.iml
server/out/*
**/*.*~
target
.nrepl-port
.lein-repl-history
.lein-failures
